
  <!--=== Our Service Start ======-->
  <section class="white-bg">
    <div class="col-md-6 col-sm-4 bg-flex bg-flex-right">
      <div class="bg-flex-holder bg-flex-cover" style="background-image: url(assets/images/new/aboutimg3.png);"></div>
    </div>
    <div class="container">
      <div class="col-md-5 col-sm-7">
        <h2 class="text-uppercase font-700">About Us</h2>
        <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Welcome to our company! With over 13 years of expe-
          rience in the dynamic world of advertising media, we
          are your trusted partner for crafting impactful cam-
          paigns. Our team of seasoned professionals excels in
          understanding your brand's essence and delivering in-
          novative solutions to elevate your market presence.
          From traditional advertising channels to cutting-edge
          digital platforms, we create bespoke strategies tailored
          to your specific goals. Whether it's increasing brand
          awareness, driving conversions, or engaging your
          target audience, we have the expertise and passion to
          make it happen. Join us on this journey, and together,
          let's propel your business to new heights of success.</p>
        <p class="mt-30"><a href="/contact" class="btn btn-color btn-circle">Contact us</a></p>
      </div>
    </div>
  </section>
  <!--=== Our Service End ======-->

  <!--=== Counter Start ======-->
  <section class="white-bg pt-80 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-md-4 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.1s">
          <h2 class="count font-700 gradient-color josefin-font">14</h2>
          <h3 class="dark-color josefin-font">Years Experience</h3>
        </div>
        <div class="col-md-4 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.2s">
          <h2 class="count font-700 gradient-color josefin-font">220</h2>
          <h3 class="dark-color josefin-font">Happy Clients</h3>
        </div>
        <div class="col-md-4 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.3s">
          <h2 class="count font-700 gradient-color josefin-font">108</h2>
          <h3 class="dark-color josefin-font">Completed Works</h3>
        </div>
       
      </div>
    </div>
  </section>
  <!--=== Counter End ======-->




  <!--=== Testimonails Start ===-->
  <section class="testimonial-style-02">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="wow fadeTop josefin-font text-uppercase" data-wow-delay="0.1s">Our <span class="font-100">Testimonials</span></h2>
          <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Happy Client Reviews -</h4>
        </div>
      </div>
      <div class="row">

          <div class="slick testimonial-carousel testimonial-style-01">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <!--=== Slide ===-->
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <div class="content-wrap">
                    <div class="info">
                      <div class="image">
                        <img class="img-responsive img-circle" src="assets/images/new/profile.png" alt="avatar-1"/>
                      </div>
                      <div class="cite">
                        <h6 class="name">Athul Raj </h6>
                        <!-- <span class="position">Creative Designer</span> -->
                      </div>
                    </div>
                    <div class="content">
                      <div class="text">
                        <i class="icofont icofont-quote-left font-20px default-color mt-20 mr-10"></i><span>Great work I got a lot more than what I ordered, they are very legítimas and catchy. I went for one of them for my brand but is always better to have more options.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <!--=== Slide ===-->
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <div class="content-wrap">
                    <div class="info">
                      <div class="image">
                        <img class="img-responsive img-circle" src="assets/images/new/profile.png" alt="avatar-2"/>
                      </div>
                      <div class="cite">
                        <h6 class="name">Rahul K S</h6>
                        <!-- <span class="position">Business Developer</span> -->
                      </div>
                    </div>
                    <div class="content">
                      <div class="text">
                        <i class="icofont icofont-quote-left font-20px default-color mt-20 mr-10"></i><span>I’m very happy with the results! They went above and beyond for me and that is always appreciated! I would highly recommend Ad Group to anybody!</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <!--=== Slide ===-->
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <div class="content-wrap">
                    <div class="info">
                      <div class="image">
                        <img class="img-responsive img-circle" src="assets/images/new/profile.png" alt="avatar-3"/>
                      </div>
                      <div class="cite">
                        <h6 class="name">Rajeev S Kumar</h6>
                        <!-- <span class="position">Application Developer</span> -->
                      </div>
                    </div>
                    <div class="content">
                      <div class="text">
                        <i class="icofont icofont-quote-left font-20px default-color mt-20 mr-10"></i><span>I’m very happy with the results! They went above and beyond for me and that is always appreciated! I would highly recommend SH to anybody!</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <!--=== Slide ===-->
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <div class="content-wrap">
                    <div class="info">
                      <div class="image">
                        <img class="img-responsive img-circle" src="assets/images/new/profile.png" alt="avatar-3"/>
                      </div>
                      <div class="cite">
                        <h6 class="name">Abdul Rahman C S</h6>
                        <!-- <span class="position">Full Stack Developer</span> -->
                      </div>
                    </div>
                    <div class="content">
                      <div class="text">
                        <i class="icofont icofont-quote-left font-20px default-color mt-20 mr-10"></i><span>Very much satisfied with the service. Delivered on time and responded to request for modifications within few hours. I recommend Sloganshub for anyone looking for smart business.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

      </div>
    </div>
  </section>
  <!--=== Testimonails End ===-->

  <%if (clients) { %>
    <!--=== Clients Start ======-->
    <section class="pt-50 pb-50 white-bg">
      <div class="container">
        <div class="row">
          <div id="client-slider" class="owl-carousel">
            <% for (let i = 0; i < clients.length; i++) { %>
              <% let item = clients[i]; %>
            <div class="client-logo"> <img class="img-responsive" src="<%=item.image%>" alt="01"/> </div>
           <%}%>
          </div>
        </div>
      </div>
    </section>
    <!--=== Clients End ======-->
    <%}%>